.loader {
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    animation: loader-spin 0.8s linear infinite;
    box-sizing: border-box;
}

@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}